body{
background-color:blueviolet;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.players{
    display: inline-block;
    margin: 3vw;
}
h1{
    color: palevioletred;
}